<header>
	<h1><span style="color:#b42626">Client</span> Sentiment Pulse Admin</h1>
	<ol>
		<li>Enter a survey name in the 'Survey Name' field below.</li>
		<li>Click the 'Generate' button. This will create a unique survey URL.</li>
		<li>Copy the uniquely generated survey URL from the field below and share it in printed and digital communication.</li>
	</ol>
</header>