<h1>
	<%= @admin_survey.name %>
</h1>

<!-- <p><%#= @admin_survey.url_token %></p> -->

<table class="table">
    <thead>
        <tr>
            <th>Client Feedback</th>
            <th>Score</th>
            <th>Date/Time</th>
        </tr>
    </thead>
    <tbody>
    <% @admin_survey.client_surveys.each do |client_survey| %>
    <tr>
        <td><%= client_survey.text %></td>
        <td><%= client_survey.score %></td>
        <td><%= client_survey.created_at.strftime('%d %h %Y') %></td>
    </tr>
    <% end %>
    </tbody>
</table>


<%#= link_to 'Edit', edit_admin_survey_path(@admin_survey) %>
<%#= link_to 'Back', admin_surveys_path %>


<% content_for :scripts do %>

<% end %>
