<ul class="socials">
	<li>
		<a href="#"><i class="in">Linkedin</i></a>
	</li>
	<li>
		<a href="#"><i class="twitter">Twitter</i></a>
	</li>
	<li>
		<a href="#"><i class="fb">Facebook</i></a>
	</li>
</ul>