%h1 Thank you page
%p#notice= notice

%p
  %b Score:
  = @client_survey.score
  =# @client_survey.text
  =# @client_survey.name
  =# @client_survey.email
  =# @client_survey.survey_id


=# link_to 'Edit', edit_client_survey_path(@client_survey)
=# link_to 'Back', client_surveys_path
