

// colors
$white                 : #ffffff;
$yellow                : #fab813;
$orange                : #F18800;
$red                   : #B81817;
$font-red              : #d95013;


//april six colors
$blue										: #00A7C4;