/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require ion-slider
 *= require_self
 */

@import "partials/base";
@import "partials/coco-bootstrap-theme";


.filter{
	margin: 2em 0;
}
 // overwrites
 header .navbar-default .navbar-toggle, header .navbar-default .navbar-toggle:hover, header .navbar-default .navbar-toggle:focus{
 	margin-top: 7px;
 }
header .navbar-default ul.navbar-nav li a{
  color: $blue;
}
header .navbar-default{
  padding: 0;
  position: relative;
}
header .navbar-default ul.navbar-nav{
  padding-top: 10px;
}
header .navbar-default .navbar-brand{
  padding: 15px;
}
header .navbar-default ul.navbar-nav li a:hover, header .navbar-default ul.navbar-nav li a:focus{
  color: #336799;  
}
