/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.loading-spinner{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 31px;
	height: 7px;
	text-align: center;

	i{
		vertical-align: top;
		display: inline-block;
		width: 7px;
		height: 7px;
		border-radius: 50%;
		background: #7D7D8E;
		-webkit-animation: pulse 1s infinite ease-in-out;
		-moz-animation: pulse 1s infinite ease-in-out;
		animation: pulse 1s infinite ease-in-out;
		-webkit-animation-fill-mode: both;
		-moz-animation-fill-mode: both;
		animation-fill-mode: both;
		&.one{
			float: left;
			-webkit-animation-delay: -0.32s;
			-moz-animation-delay: -0.32s;
			animation-delay: -0.32s;
		}
		&.two{
			-webkit-animation-delay: -0.16s;
			-moz-animation-delay: -0.16s;
			animation-delay: -0.16s;
		}
		&.three{
			float: right;
		}
	}
}

.loading-spinner i{
	
}